* {
    /* Retirando o CSS aplicado pelo navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Cor do fundo, centralizando a logo e posicionando conforme a altura da tela */
    background-color: #09090A;
    color: white;

    height: 100vh;
}

header {
    /* Colocando o botão e a Logo numa linha só */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
}

button {
    /* Espaço interno do botão */
    padding: 16px 24px;

    /* Retirando o fundo, aplicando a borda e ajustando a cor do texto */
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    background-color: transparent;
    color: white;

    /* Organizando os itens dentro do botão no centro e afastando os itens com o Gap */
    display: flex;
    align-items: center;
    gap: 12px;

    /* Aplicando a fonte Inter, aumentando o tamanho e o peso */
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    /* Transição aplicada na propriedade */
    transition: background-color .2s;
}

button:hover {
    /* Efeito de transição para quando o mouse estiver sobre o botão */
    background-color: #ffffff14;
    cursor: pointer;
}

#form-habits {
    /* Posicionando TODO o Habits */
    display: flex;

    padding: 0 48px;
}

.habits {
    /* Alinhando os hábitos em coluna e colocando um espaço entre eles */
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habit {
    /* Aumentando o emoji de tamanho e centralizando conforme o Habits */
    width: 64px;
    height: 64px;

    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    margin-left: 32px;
    gap: 48px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;

    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;

    text-align: center;
}

input {
    /* Retirando o estilo padrão do input */
    appearance: none;
    -webkit-appearance: none;

    /* Aumentando o tamanho do input */
    width: 64px;
    height: 64px;

    /* Estilizando o input */
    border: 1px solid #27272A;
    background: #18181B;
    border-radius: 8px;
}

input:checked {
    /* Usando o pseudo-selector para estilizar o input quando marcado */
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}